<div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1">
  <a class="center-align" href="/loosingtime"><h2>J'ai 5 minutes à perdre</h2></a>
</div>
<%= form_tag '/search', method: 'post', class: "col s10 offset-s1 m10 offset-m1 l10 offset-l1" do %>
  <input type="text" name="search" placeholder="Mot clé" autofocus />
  <input type="submit" value="Rechercher" class="btn red accent-4" />
<% end %>
